.trigger {
  padding: 0 1rem;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  padding: 1rem 1rem 0 1rem;
  overflow: scroll;
  background: #fff;
}

.site-layout .site-layout-footer {
  height: 10vh;
  text-align: center;
  padding: 1rem;
  background: #f0f2f5;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
}

.site-layout .loading-area {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: fixed;
  background: #ddd;
  justify-content: center;
}

.loading-area .loading-icon {
  margin: -50%;
}

.navbar-header {
  width: 100%;
  padding: 2rem;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-footer {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
}