@import "~antd/dist/antd.less";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ant-table-thead > tr > th {
  text-align: center;
}

.ant-table-tbody > tr > td {
  padding: 2px 0 2px 0;
  text-align: center;
}

.ant-table-expanded-row > .ant-table-cell > .ant-table-wrapper {
  margin-top: 2rem;
  margin-left: -2rem;
  margin-bottom: 4rem;
}

.ant-table-tbody > tr:nth-child(even) {
  background-color: #edf5ff;
}

.ant-message-notice {
  font-size: 2rem;
  width: 100%;
  height: 2rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
